







h1{
    font-size: 42px;
    background: linear-gradient(90deg, #002125 0%, #00e1ef 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.con{
display: flex;
align-items: center;
justify-content: center;
justify-content: space-around;
}

i{
color: #03E0F0;


}
button{
border:none;
padding:10px;
border-radius:50%;
background-color:#0D1D21;
}
.ong{
   
        width: max-content;
        border-radius: 76% 24% 71% 29% / 51% 30% 70% 49%;
        transition: all 0.3s linear;
        background-color: #002125;
        padding: 12px;
        /* animation: animation 2s infinite; */
        animation: animation 3.2s ease-in-out infinite alternate-reverse;
        background-image: linear-gradient(90deg, #002125 0%, #00e1ef 100%);
 
      


}

.onimatsia{

  
        width: 500px;
        padding: 22px;
        height: auto;
        border-radius: 76% 24% 71% 29% / 51% 30% 70% 49%;
        transition: all 0.3s linear;
        background-color: #002125;
        overflow: hidden;
        animation: animation 2.9s ease-in-out infinite alternate-reverse;
   
      



}

@keyframes animation {
    0% {
      border-radius: 76% 24% 71% 29% / 51% 30% 70% 49%;
    }
  
    100% {
      border-radius: 40% 60%;
    }
  }
  




























































